body {
	background:#000;
	font:12px Arial, Verdana, Helvetica, sans-serif;
	text-align:center;
	padding:0;
	margin:0;
	}

body h1 {	
    color:#fff;
	margin-top:1px;
	margin-bottom:10px;
	}
body h2 {	
	color:#999; 
	margin-top:10px;
	margin-bottom:1px;
	}
	
body header {
	position:relative;
	height:50px;
	background:#320055;
	}
	
footer 
{
	background:#320055; 
	height:30px;
	color:#fff; 
	text-align:right; 
	font-size:80%; 
	padding-right:10px;
}	
	
.projects {
	width:800px; 
	margin:0 auto;
	text-align:left; 
	}
	
ul.fotos {
	position:relative;
	list-style:none;  
	width:800px;
	padding:1px;
	<!--background:#999;-->
	margin:3px; 
	padding:0; 
}

.fotos:after {
	display: block;
	content: ".";
	height: 0;
	font-size:0; 
	visibility: hidden;
	clear: both;
	}
	
ul.fotos li {
	width:350px;
	height:225px;
	float:left; 
	border:2px solid #fff;
	margin:1px; 
}

ul.fotos li img {
	border:none; 
	width:350px;
	height:225px;
}

ul.fotos li span img {
	border:none;
	width:500px;
	height:375px;
	height:auto;
}

ul.fotos a {
	display: block;
	} 
	
ul.fotos a span {
	display: none;
}

ul.fotos a:hover span.legenda {
	display: block;
	text-align:center; 
	width:500px;
	position:absolute;
	top:375px;
	left:-2px;
}

ul.fotos a:hover span {
	display: block;
    position: absolute; 
	top:-5px; 
	left: 177px; 
	background:#fff;
	border:2px solid #666;
   }
ul.fotos a:hover span.legenda {
	padding:5px 0;
	<!--color:#333;--> 
}

#info{
align:center;
text-align:center;
color:#fff;
}
