body 
{
    background-color: rgb(99, 99, 99);
    width: 100%;
    height: auto;
    font:12px Arial, Verdana, Helvetica, sans-serif;
    text-align:center;
}

body h1 
{	
    color:#fff;
}
body h2 
{	
    color:black; 
}

body header 
{
    position:relative;
    height:5vh;
    background:#ffffff;
    color: black;
}

footer 
{
    background:#ffffff; 
    height:5vh;
    color:black;
    text-align:right; 
    font-size:80%; 
    padding-right:1vw;
}	

.projects 
{
    width: 100vw; 
    margin:0 auto;
    text-align:left; 
    border:none; 
}
ul.project 
{
    margin:0 auto;
    position:relative;
    list-style:none;
    width:auto;
    padding: 0;
    background:#999;
}

ul.project li 
{
    border:none; 
    width: 100vw;;
    height: 100vh;
}

ul.project li iframe
{
    border:none; 
    width: 50vw;
    height: 50vh;
    float:left; 
}

ul.project li img
{ 
    width: 25vw;
    height: 25vh;
    opacity:0.35;
}
ul.project li img:hover
{
    width: 50vw;
    height: 50vh;
    -webkit-transition: width 1s;
    transition: width 1s;
    opacity:1;
}